{% extends 'baseForLogins.html' %}
{% load static crispy_forms_tags %}
{% load static %}

    
    {% block title %}
        SignUp - AirBnB Management
    {% endblock title %}
        
    
    {% block style %}
        <style>
            /* Add your image path here */
            .signup-container {
                background: url('{% static "images/Background2.jpg" %}') no-repeat center center fixed;
                background-size: cover;
                height: 100vh;
            }
            @media (max-width: 768px) {
                .signup-container {
                    background: url('{% static "images/Background2.jpg" %}') no-repeat center center fixed;
                    background-size: cover;
                }
            }
        </style>
    {% endblock style %}
        

    
    {% block body %}
    <div class="container-fluid signup-container d-flex justify-content-center align-items-center">
        <div class="row w-50 p-4 bg-white rounded shadow">
            <h2 class="text-center mb-4">Create an Account</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
            </form>
            <div class="text-center mt-3">
                <p>Already have an account? <a href="{% url 'login_page' %}">Login</a></p>
            </div>
        </div>
    </div>
    {% endblock body %}
